@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

/* Add these styles to your existing styles or create a new CSS file */

.navbar-button {
    transition: transform 0.3s ease-in-out;
}

.slide-out {
    transform: translateX(-100%);
}

.slide-in {
    transform: translateX(0);
}